<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.school.mysql.banner.dao.mapper.MobileRedBannerMapper">
  <resultMap id="BaseResultMap" type="com.work.school.mysql.banner.dao.domain.MobileRedBannerDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="school_term" jdbcType="INTEGER" property="schoolTerm" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="red_banner_type" jdbcType="INTEGER" property="redBannerType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, class_id, class_name, school_term, week, red_banner_type, status, create_by, 
    create_time, update_by, update_time
  </sql>

  <select id="listAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobile_red_banner
  </select>

  <insert id="saveBatch" parameterType="java.util.List">
    insert into mobile_red_banner (class_id, class_name, school_term, week, red_banner_type,
      status, create_by, create_time)
    values
    <foreach collection="list" item="item" separator=",">
        (#{item.classId,jdbcType=INTEGER}, #{item.className,jdbcType=VARCHAR},#{item.schoolTerm,jdbcType=VARCHAR},
        #{item.week,jdbcType=INTEGER}, #{item.redBannerType,jdbcType=INTEGER}, 1, #{item.createBy,jdbcType=VARCHAR}, now())
    </foreach>

  </insert>

    <select id="listIds" parameterType="java.util.Map" resultType="java.lang.Long">
        select id
        from mobile_red_banner
        where school_term = #{schoolTerm}
        and week in
        <foreach collection="weeks" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

  <update id="updateByIds" parameterType="java.util.List">
    update mobile_red_banner set status = 0 where id in
    <foreach collection="list" item="item" separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>

</mapper>